nav.main-nav {
  background: $color-black;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  div {
    display: flex;
    flex-wrap: wrap;
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 3rem;
    
    @include respond("tab-port") {
      justify-content: center;

      a {
        margin-bottom: 1rem;
      }
    }
  }


  a, ul li a {
    color: $color-white;
    text-decoration: none;
    font-size: 3.8rem;
    transition: all .5;

    &:hover {
      color: $color-secondary;
    }
  }
  
  .active {
    color: $color-secondary;
  }
    
  ul {
    display: flex;
    width: 40%;
    margin-left: auto;
    justify-content: space-around;

    @include respond('tab-port') {
      width: 100%;
    }
  }
}