.menu-nav {
  padding-top: 0.5rem;
  // background: $color-white;
}
nav.main-nav ul.menu-nav {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-left: none;

  li:not(:last-child) {
    padding-right: 2rem;
  }

  a {
    color: $color-white;
    text-decoration: none;
    font-size: 2rem;
    // transition: all .3;

    &:hover {
      color: $color-secondary;
    }
  }
  @include respond('tab-port') {
    // display: none;
  }
}

#hamburger-backplate {
  height: 60px;
  width: 60px;
  background: white;
  border-radius: 50%;
  position: fixed;
  top: 14.3rem;
  right: 10.3rem;
  z-index: 1999;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

#hamburger {
  content: '';
  position: fixed;
  pointer-events: none;
  right: 12rem;
  display: block;
  width: 30px;
  top: 15rem;
  z-index: 2000;
  -webkit-box-shadow: 1px 10px 1px 1px $color-black,
    1px 16px 1px 1px $color-black, 1px 22px 1px 1px $color-black;
  box-shadow: 0 12px 0 2px $color-black, 0 33px 0 2px $color-black,
    0 22px 0 2px $color-black;
}

#hamburger-backplate,
#hamburger {
  display: none;

  @include respond('tab-port') {
    display: block;
  }
}
#hamburger-backplate.open,
#hamburger.open {
  background: transparent;
  color: transparent;
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menu-nav-mobile {
  position: absolute;
  pointer-events: none;

  span {
    position: absolute;
    font-size: 3rem;
    color: transparent;
    font-weight: bold;
    right: 3rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 50%;
    border: none;
    // transition: all .3s;
    pointer-events: none;

    &:hover {
      background: $color-primary;
      color: $color-white;
    }
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #000;
    display: inline-block;
    letter-spacing: 2px;
    color: transparent;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-right: 5rem;
    padding-bottom: 0.5rem;
    position: relative;
    letter-spacing: 2px;

    &::after {
      // content: "";
      min-width: 30rem;
      width: 40%;
      height: 2px;
      background: $color-black;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  li a {
    text-decoration: none;
    color: transparent;
    font-weight: bold;

    &:hover {
      color: $color-primary;
    }
  }

  @include respond('tab-port') {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3rem;
    z-index: 1000;
    position: fixed;
    background: $color-white;
    background: transparent;
  }
}

.menu-nav-mobile.open {
  background: $color-white;
  pointer-events: initial;

  span {
    color: $color-primary;
    border: 2px solid $color-primary;
    pointer-events: initial;

    &:hover {
      color: $color-white;
    }
  }

  h1 {
    color: $color-black;
  }

  li::after {
    content: '';
  }

  li a {
    color: $color-black;
  }
}
