nav.main-nav {
  display: flex;
  flex-wrap: wrap;
  background: $color-black;
  padding: 2rem;
  padding-left: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  @include respond("tab-port") {
    justify-content: center;

    a {
      margin-bottom: 1rem;
    }
  }

  a, ul li a {
    color: $color-white;
    text-decoration: none;
    font-size: 3.8rem;
    transition: all .5;

    &:hover {
      color: $color-secondary;
    }
  }
  
  .active {
    color: $color-secondary;
  }
    
  ul {
    display: flex;
    width: 40%;
    margin-left: auto;
    justify-content: space-around;

    @include respond('tab-port') {
      width: 100%;
    }
  }
}

.spacer {
  height: 75px;

  @include respond('tab-port') {
    height: 112px;
  }
}