main.landing-page {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
  text-align: center;
  color: white;
  justify-content: center;

  @include respond("tab-port") {
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)), url("../assets/images/fish-sushi.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }


.left {
  background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)), url("../assets/images/fish-sushi.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;

  @include respond("tab-port") {
    width: 100%;
    background-image: none;
    height: min-content;
  }

  svg {
    margin: 6rem auto 3rem;

    @include respond("tab-port") {
      width: 30%;
      height: 30%;
      margin: 2rem auto;
    }
  };

  h2 {
    font-size: 4rem;
  }

  a, address {
    font-size: 3.5rem;
    padding: 1rem;

    @include respond("tab-port") {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.right {
  background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)), url("../assets/images/japan.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 50%;

  @include respond("tab-port") {
    width: 100%;
    background-image: none;
  }

  h1 {
    font-size: 6rem;
    margin-top: 6rem;

    @include respond("tab-port") {
      color: transparent;
      position: absolute;
      pointer-events: none;
    }
  }

  .box {
    margin: 4rem 15% 8rem;
    padding: 2rem;
    outline: 2rem solid rgba($color-primary, .5);
    background: rgba(0,0,0,.7);
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 3.5rem;
    padding: 2rem;
  }

  button {
    padding: .5rem 10rem;
    font-size: 5rem;
    background: $color-secondary;
    color: $color-black;
    font-family: 'Julee', cursive;
    letter-spacing: 2px;
    border-radius: 5rem;
    cursor: pointer;
  }
}
}