.menu-main {
  flex: 1 0 auto;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.7)), url("../assets/images/sushi.JPG");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12rem;

  @include respond("tab-port") {
    padding-top: 15rem;
  }
  
  .desktop-h1 {
    text-align: center;
    font-size: 8rem;
    color: $color-white;
    margin-bottom: 2.1rem;

    @include respond("tab-port") {
      display: none;
    } 
  }

  section {
    color: $color-black;
    background: rgba($color-white, .7);
    margin: 4% 10%;
    display: flex;
    border-radius: 7px;

    @include respond("tab-land") {
      margin: 4%;
    }

    @include respond("tab-port") {
      flex-direction: column;
    } 

    .left-wrapper {
      position: relative;

      &::after {
        content: "";
        width: 2px;
        background: $color-black;
        position: absolute;
        right: 0;
        top: 20%;
        bottom: 10%;

        @include respond("tab-land") {
          display: none;
        }
      }
    }

    .left-wrapper, .right-wrapper {
      width: 50%;
      padding: 2rem 8rem 6rem;

      @include respond("tab-port") {
        width: 100%;
      } 

      h3 {
        text-align: center;
        margin: 2rem auto;
        font-size: 4.4rem;
        position: relative;
        padding: 1rem;
        letter-spacing: .2rem;

        &::after {
          content: "";
          width: auto;
          height: 2px;
          background-color: $color-black;
          position: absolute;
          bottom: 0;
          right: 46%;
          left: 46%;
        }
      }
    }

    .long-card {
      font-size: 3.4rem;
      display: flex;
      justify-content: space-between;

      span {
        border-bottom: 4px dotted $color-black;
        flex: 1;
        margin: 1rem;
      }
    }
  }
}

section.raw-cooked-sushi-section {

  .wrapper {
    padding: 3rem;
    font-size: 3.4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    h3 {
      text-align: center;
      margin: 5rem auto;
      width: 100%;
    }

    .menu-card {
      background: white;
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      padding: 2rem;

      @include respond("tab-port") {
        width: 80%;
      }

      span {
        color: $color-primary;
        font-weight: bold;
        padding: 1rem;
      }

      &__title {
        width: 90%
      }

      &__long, &__hand, &__inside, &__top {
        width: 100%;
      }
    }
  }

}