// .spacer {
//   padding: 18rem;
// }

.menu-main {
  flex: 1 0 auto;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('../assets/images/sushi.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12rem;

  @include respond('tab-land') {
    padding-top: 15rem;
  }

  @include respond('tab-port') {
    padding-top: 20rem;
  }

  .main-wrapper {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 5rem;
  }

  .disclaimer {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 2rem auto;
  }

  .wrapper {
    padding: 3rem;
    font-size: 3.4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  // #menu-content {
  .menu-section .wrapper {
    color: $color-black;
    background: rgba($color-white, 0.7);
    // margin: 2rem 1rem;
    display: flex;
    border-radius: 7px;

    h3 {
      text-align: center;
      margin: 2rem auto;
      font-size: 4.4rem;
      position: relative;
      padding: 1rem;
      letter-spacing: 0.2rem;

      &::after {
        content: '';
        width: auto;
        height: 2px;
        background-color: $color-black;
        position: absolute;
        bottom: 0;
        right: 46%;
        left: 46%;
      }
    }

    .long-card {
      font-size: 3.4rem;
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.5rem;
      width: 100%;

      span {
        border-bottom: 4px dotted $color-black;
        flex: 1;
        margin: 1rem;
      }
    }
  }
  // }

  .desktop-h1 {
    text-align: center;
    font-size: 8rem;
    color: $color-white;
    margin-bottom: 2.1rem;

    @include respond('tab-port') {
      // display: none;
    }
  }
}

.menu-section {
  .wrapper {
    padding: 3rem;
    font-size: 3.4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h3 {
      text-align: center;
      margin: 5rem auto;
      width: 100%;
    }
  }

  .menu-card {
    background: white;
    width: 90%;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 7px;
    font-size: 3.4rem;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    align-self: center;

    @include respond('tab-port') {
      width: 100%;
    }

    &__header {
      display: flex;
      flex-wrap: wrap;
      background: $color-primary;
      padding: 1rem 0.75rem;
      color: $color-white;
      margin-bottom: 1rem;
      border-radius: 7px;

      @include respond('phone') {
        flex-direction: column;
      }
    }

    &__long {
      padding-right: 1rem;
    }

    &__long,
    &__hand,
    &__price {
      @include respond('phone') {
        align-self: flex-end;
      }
    }

    &__ingredients p {
      font-size: 2.8rem;
      margin-bottom: 0.5rem;
      padding-left: 1.5rem;
    }

    span {
      border-bottom: 4px dotted $color-white;
      flex: 1;
      margin: 1rem;

      @include respond('phone') {
        display: none;
      }
    }

    p span {
      color: $color-white;
      font-weight: bold;
      border-bottom: none;
      display: inline;
    }
  }
}

#poke {
  margin: 5rem 0;

  .wrapper {
    background: rgba($color-white, 0.7);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 7px;

    h3 {
      margin: 2rem;
    }
  }
}

hr {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #aaa, #333, #aaa);
}

#beverages.menu-section {
  .beverages-section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .drink {
    width: 45%;

    @include respond('tab-port') {
      width: 100%;
    }
  }
}

#modal {
  position: fixed;
  z-index: 0;
  flex-direction: column;
  color: transparent;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 5rem;
  height: 0;
  pointer-events: none;

  span {
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    top: 2rem;
    right: 2rem;
    color: transparent;
    background: transparent;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    height: 0;
  }

  h2 {
    margin-bottom: 2rem;
    height: 0;
  }

  .temp-menu-img-wrapper {
    max-width: 800px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: 0;
    }
  }
}

#modal.modal-open {
  z-index: 1000;
  color: $color-white;
  height: auto;
  pointer-events: initial;

  span {
    color: red;
    background: white;
    height: auto;
  }

  h2 {
    height: auto;
  }

  img {
    height: auto;
    // height: 60vh;
    width: 50%;

    @include respond('tab-port') {
      width: 70%;
    }
  }
}

footer h6 {
  a {
    color: $color-white;
    text-decoration: none;
  }
}

.download-menus {
  position: fixed;
  z-index: 1100;
  background: $color-white;
  color: $color-secondary;
  cursor: pointer;
  bottom: 4rem;
  right: 3rem;
  border-radius: 100px;
  padding: 1rem 2.5rem;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);

  &:hover {
    background: $color-secondary;
    border: 2px solid $color-black;
  }

  a {
    color: $color-black;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.75;

    img {
      width: 20px;
      justify-self: end;
      margin-right: 1rem;
    }
  }
}
