/* 
0-600px:      phone
600-900px:    Tablet portrait
900-1200px:   Tablet landscape
1200-1800px:  Desktop/Normal styles
1800px + :    Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Julee', cursive;
  font-size: 1.6rem;
}

@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

nav.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #000;
  padding: 2rem;
  padding-left: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

@media (max-width: 56.25em) {
  nav.main-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.main-nav a {
    margin-bottom: 1rem;
  }
}

nav.main-nav a, nav.main-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 3.8rem;
}

nav.main-nav .active {
  color: #FFC806;
}

nav.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-left: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 56.25em) {
  nav.main-nav ul {
    width: 100%;
  }
}

.spacer {
  height: 75px;
}

@media (max-width: 56.25em) {
  .spacer {
    height: 112px;
  }
}

footer {
  background: #930E0C;
  color: #fff;
  font-size: 3rem;
  padding: 3rem;
  text-align: center;
}

footer h3 {
  margin-bottom: 1rem;
}

.menu-nav {
  background: #fff;
  padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
}

.menu-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
}

.menu-nav ul li:not(:last-child) {
  padding-right: 4rem;
}

.menu-nav ul a {
  color: #000;
  text-decoration: none;
}

.menu-nav h1 {
  display: none;
}

main.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 80vh;
  text-align: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 56.25em) {
  main.landing-page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url(/assets/images/fish-sushi.JPG);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/assets/images/fish-sushi.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
}

main.landing-page .left {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url(/assets/images/fish-sushi.JPG);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/assets/images/fish-sushi.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}

@media (max-width: 56.25em) {
  main.landing-page .left {
    width: 100%;
    background-image: none;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

main.landing-page .left svg {
  margin: 6rem auto 3rem;
}

@media (max-width: 56.25em) {
  main.landing-page .left svg {
    width: 30%;
    height: 30%;
    margin: 2rem auto;
  }
}

main.landing-page .left h2 {
  font-size: 4rem;
}

main.landing-page .left a, main.landing-page .left address {
  font-size: 3.5rem;
  padding: 1rem;
}

@media (max-width: 56.25em) {
  main.landing-page .left a, main.landing-page .left address {
    display: none;
  }
}

main.landing-page .left a {
  text-decoration: none;
  color: white;
}

main.landing-page .right {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url(/assets/images/japan.JPG);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/assets/images/japan.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 50%;
}

@media (max-width: 56.25em) {
  main.landing-page .right {
    width: 100%;
    background-image: none;
  }
}

main.landing-page .right h1 {
  font-size: 6rem;
  margin-top: 6rem;
}

@media (max-width: 56.25em) {
  main.landing-page .right h1 {
    color: transparent;
    position: absolute;
    pointer-events: none;
  }
}

main.landing-page .right .box {
  margin: 4rem 15% 8rem;
  padding: 2rem;
  outline: 2rem solid rgba(147, 14, 12, 0.5);
  background: rgba(0, 0, 0, 0.7);
}

main.landing-page .right h2 {
  font-size: 3rem;
}

main.landing-page .right h3 {
  font-size: 3.5rem;
  padding: 2rem;
}

main.landing-page .right button {
  padding: .5rem 10rem;
  font-size: 5rem;
  background: #FFC806;
  color: #000;
  font-family: 'Julee', cursive;
  letter-spacing: 2px;
  border-radius: 5rem;
  cursor: pointer;
}

.menu-main {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url(/assets/images/sushi.JPG);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/assets/images/sushi.JPG);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-main .desktop-h1 {
  text-align: center;
  font-size: 8rem;
  color: #fff;
  margin-bottom: 2rem;
}

.menu-main section {
  color: #fff;
}
